/*!
 * World Flags Set for iPlacard
 * Copyright 2014 Kaijia Feng
 */

.flags-16 .flag{
	margin-top: 0px;
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: text-top;
	line-height: 16px;
	background: url('../img/flags/16.png') no-repeat;
}
.flags-16 .AD { background-position: -0px -0px; }
.flags-16 .AE { background-position: -0px -16px; }
.flags-16 .AF { background-position: -0px -32px; }
.flags-16 .AG { background-position: -0px -48px; }
.flags-16 .AI { background-position: -0px -64px; }
.flags-16 .AL { background-position: -0px -80px; }
.flags-16 .AM { background-position: -0px -96px; }
.flags-16 .AN { background-position: -0px -112px; }
.flags-16 .AO { background-position: -0px -128px; }
.flags-16 .AQ { background-position: -0px -144px; }
.flags-16 .AR { background-position: -0px -160px; }
.flags-16 .AS { background-position: -0px -176px; }
.flags-16 .AT { background-position: -0px -192px; }
.flags-16 .AU { background-position: -0px -208px; }
.flags-16 .AW { background-position: -0px -224px; }
.flags-16 .AX { background-position: -0px -240px; }
.flags-16 .AZ { background-position: -0px -256px; }
.flags-16 .BA { background-position: -0px -272px; }
.flags-16 .BB { background-position: -0px -288px; }
.flags-16 .BD { background-position: -0px -304px; }
.flags-16 .BE { background-position: -0px -320px; }
.flags-16 .BF { background-position: -0px -336px; }
.flags-16 .BG { background-position: -0px -352px; }
.flags-16 .BH { background-position: -0px -368px; }
.flags-16 .BI { background-position: -0px -384px; }
.flags-16 .BJ { background-position: -0px -400px; }
.flags-16 .BL { background-position: -0px -416px; }
.flags-16 .BM { background-position: -0px -432px; }
.flags-16 .BN { background-position: -0px -448px; }
.flags-16 .BO { background-position: -0px -464px; }
.flags-16 .BR { background-position: -0px -480px; }
.flags-16 .BS { background-position: -0px -496px; }
.flags-16 .BT { background-position: -0px -512px; }
.flags-16 .BW { background-position: -0px -528px; }
.flags-16 .BY { background-position: -0px -544px; }
.flags-16 .BZ { background-position: -0px -560px; }
.flags-16 .CA { background-position: -0px -576px; }
.flags-16 .CC { background-position: -0px -592px; }
.flags-16 .CD { background-position: -0px -608px; }
.flags-16 .CF { background-position: -0px -624px; }
.flags-16 .CG { background-position: -0px -640px; }
.flags-16 .CH { background-position: -0px -656px; }
.flags-16 .CI { background-position: -0px -672px; }
.flags-16 .CK { background-position: -0px -688px; }
.flags-16 .CL { background-position: -0px -704px; }
.flags-16 .CM { background-position: -0px -720px; }
.flags-16 .CN { background-position: -0px -736px; }
.flags-16 .CO { background-position: -0px -752px; }
.flags-16 .CR { background-position: -0px -768px; }
.flags-16 .CU { background-position: -0px -784px; }
.flags-16 .CV { background-position: -0px -800px; }
.flags-16 .CW { background-position: -0px -816px; }
.flags-16 .CX { background-position: -0px -832px; }
.flags-16 .CY { background-position: -0px -848px; }
.flags-16 .CZ { background-position: -0px -864px; }
.flags-16 .DE { background-position: -0px -880px; }
.flags-16 .DJ { background-position: -0px -896px; }
.flags-16 .DK { background-position: -0px -912px; }
.flags-16 .DM { background-position: -0px -928px; }
.flags-16 .DO { background-position: -0px -944px; }
.flags-16 .DZ { background-position: -0px -960px; }
.flags-16 .EC { background-position: -0px -976px; }
.flags-16 .EE { background-position: -0px -992px; }
.flags-16 .EG { background-position: -0px -1008px; }
.flags-16 .EH { background-position: -0px -1024px; }
.flags-16 .ER { background-position: -0px -1040px; }
.flags-16 .ES { background-position: -0px -1056px; }
.flags-16 .ET { background-position: -0px -1072px; }
.flags-16 .EU { background-position: -0px -1088px; }
.flags-16 .FI { background-position: -0px -1104px; }
.flags-16 .FJ { background-position: -0px -1120px; }
.flags-16 .FK { background-position: -0px -1136px; }
.flags-16 .FM { background-position: -0px -1152px; }
.flags-16 .FO { background-position: -0px -1168px; }
.flags-16 .FR { background-position: -0px -1184px; }
.flags-16 .GA { background-position: -0px -1200px; }
.flags-16 .GB { background-position: -0px -1216px; }
.flags-16 .GD { background-position: -0px -1232px; }
.flags-16 .GE { background-position: -0px -1248px; }
.flags-16 .GG { background-position: -0px -1264px; }
.flags-16 .GH { background-position: -0px -1280px; }
.flags-16 .GI { background-position: -0px -1296px; }
.flags-16 .GL { background-position: -0px -1312px; }
.flags-16 .GM { background-position: -0px -1328px; }
.flags-16 .GN { background-position: -0px -1344px; }
.flags-16 .GQ { background-position: -0px -1360px; }
.flags-16 .GR { background-position: -0px -1376px; }
.flags-16 .GS { background-position: -0px -1392px; }
.flags-16 .GT { background-position: -0px -1408px; }
.flags-16 .GU { background-position: -0px -1424px; }
.flags-16 .GW { background-position: -0px -1440px; }
.flags-16 .GY { background-position: -0px -1456px; }
.flags-16 .HK { background-position: -0px -1472px; }
.flags-16 .HN { background-position: -0px -1488px; }
.flags-16 .HR { background-position: -0px -1504px; }
.flags-16 .HT { background-position: -0px -1520px; }
.flags-16 .HU { background-position: -0px -1536px; }
.flags-16 .IC { background-position: -0px -1552px; }
.flags-16 .ID { background-position: -0px -1568px; }
.flags-16 .IE { background-position: -0px -1584px; }
.flags-16 .IL { background-position: -0px -1600px; }
.flags-16 .IM { background-position: -0px -1616px; }
.flags-16 .IN { background-position: -0px -1632px; }
.flags-16 .IQ { background-position: -0px -1648px; }
.flags-16 .IR { background-position: -0px -1664px; }
.flags-16 .IS { background-position: -0px -1680px; }
.flags-16 .IT { background-position: -0px -1696px; }
.flags-16 .JE { background-position: -0px -1712px; }
.flags-16 .JM { background-position: -0px -1728px; }
.flags-16 .JO { background-position: -0px -1744px; }
.flags-16 .JP { background-position: -0px -1760px; }
.flags-16 .KE { background-position: -0px -1776px; }
.flags-16 .KG { background-position: -0px -1792px; }
.flags-16 .KH { background-position: -0px -1808px; }
.flags-16 .KI { background-position: -0px -1824px; }
.flags-16 .KM { background-position: -0px -1840px; }
.flags-16 .KN { background-position: -0px -1856px; }
.flags-16 .KP { background-position: -0px -1872px; }
.flags-16 .KR { background-position: -0px -1888px; }
.flags-16 .KW { background-position: -0px -1904px; }
.flags-16 .KY { background-position: -0px -1920px; }
.flags-16 .KZ { background-position: -0px -1936px; }
.flags-16 .LA { background-position: -0px -1952px; }
.flags-16 .LB { background-position: -0px -1968px; }
.flags-16 .LC { background-position: -0px -1984px; }
.flags-16 .LI { background-position: -0px -2000px; }
.flags-16 .LK { background-position: -0px -2016px; }
.flags-16 .LR { background-position: -0px -2032px; }
.flags-16 .LS { background-position: -0px -2048px; }
.flags-16 .LT { background-position: -0px -2064px; }
.flags-16 .LU { background-position: -0px -2080px; }
.flags-16 .LV { background-position: -0px -2096px; }
.flags-16 .LY { background-position: -0px -2112px; }
.flags-16 .MA { background-position: -0px -2128px; }
.flags-16 .MC { background-position: -0px -2144px; }
.flags-16 .MD { background-position: -0px -2160px; }
.flags-16 .ME { background-position: -0px -2176px; }
.flags-16 .MF { background-position: -0px -2192px; }
.flags-16 .MG { background-position: -0px -2208px; }
.flags-16 .MH { background-position: -0px -2224px; }
.flags-16 .MK { background-position: -0px -2240px; }
.flags-16 .ML { background-position: -0px -2256px; }
.flags-16 .MM { background-position: -0px -2272px; }
.flags-16 .MN { background-position: -0px -2288px; }
.flags-16 .MO { background-position: -0px -2304px; }
.flags-16 .MP { background-position: -0px -2320px; }
.flags-16 .MQ { background-position: -0px -2336px; }
.flags-16 .MR { background-position: -0px -2352px; }
.flags-16 .MS { background-position: -0px -2368px; }
.flags-16 .MT { background-position: -0px -2384px; }
.flags-16 .MU { background-position: -0px -2400px; }
.flags-16 .MV { background-position: -0px -2416px; }
.flags-16 .MW { background-position: -0px -2432px; }
.flags-16 .MX { background-position: -0px -2448px; }
.flags-16 .MY { background-position: -0px -2464px; }
.flags-16 .MZ { background-position: -0px -2480px; }
.flags-16 .NA { background-position: -0px -2496px; }
.flags-16 .NC { background-position: -0px -2512px; }
.flags-16 .NE { background-position: -0px -2528px; }
.flags-16 .NF { background-position: -0px -2544px; }
.flags-16 .NG { background-position: -0px -2560px; }
.flags-16 .NI { background-position: -0px -2576px; }
.flags-16 .NL { background-position: -0px -2592px; }
.flags-16 .NO { background-position: -0px -2608px; }
.flags-16 .NP { background-position: -0px -2624px; }
.flags-16 .NR { background-position: -0px -2640px; }
.flags-16 .NU { background-position: -0px -2656px; }
.flags-16 .NZ { background-position: -0px -2672px; }
.flags-16 .OM { background-position: -0px -2688px; }
.flags-16 .PA { background-position: -0px -2704px; }
.flags-16 .PE { background-position: -0px -2720px; }
.flags-16 .PF { background-position: -0px -2736px; }
.flags-16 .PG { background-position: -0px -2752px; }
.flags-16 .PH { background-position: -0px -2768px; }
.flags-16 .PK { background-position: -0px -2784px; }
.flags-16 .PL { background-position: -0px -2800px; }
.flags-16 .PN { background-position: -0px -2816px; }
.flags-16 .PR { background-position: -0px -2832px; }
.flags-16 .PS { background-position: -0px -2848px; }
.flags-16 .PT { background-position: -0px -2864px; }
.flags-16 .PW { background-position: -0px -2880px; }
.flags-16 .PY { background-position: -0px -2896px; }
.flags-16 .QA { background-position: -0px -2912px; }
.flags-16 .RO { background-position: -0px -2928px; }
.flags-16 .RS { background-position: -0px -2944px; }
.flags-16 .RU { background-position: -0px -2960px; }
.flags-16 .RW { background-position: -0px -2976px; }
.flags-16 .SA { background-position: -0px -2992px; }
.flags-16 .SB { background-position: -0px -3008px; }
.flags-16 .SC { background-position: -0px -3024px; }
.flags-16 .SD { background-position: -0px -3040px; }
.flags-16 .SE { background-position: -0px -3056px; }
.flags-16 .SG { background-position: -0px -3072px; }
.flags-16 .SH { background-position: -0px -3088px; }
.flags-16 .SI { background-position: -0px -3104px; }
.flags-16 .SK { background-position: -0px -3120px; }
.flags-16 .SL { background-position: -0px -3136px; }
.flags-16 .SM { background-position: -0px -3152px; }
.flags-16 .SN { background-position: -0px -3168px; }
.flags-16 .SO { background-position: -0px -3184px; }
.flags-16 .SR { background-position: -0px -3200px; }
.flags-16 .SS { background-position: -0px -3216px; }
.flags-16 .ST { background-position: -0px -3232px; }
.flags-16 .SV { background-position: -0px -3248px; }
.flags-16 .SY { background-position: -0px -3264px; }
.flags-16 .SZ { background-position: -0px -3280px; }
.flags-16 .TC { background-position: -0px -3296px; }
.flags-16 .TD { background-position: -0px -3312px; }
.flags-16 .TF { background-position: -0px -3328px; }
.flags-16 .TG { background-position: -0px -3344px; }
.flags-16 .TH { background-position: -0px -3360px; }
.flags-16 .TJ { background-position: -0px -3376px; }
.flags-16 .TK { background-position: -0px -3392px; }
.flags-16 .TL { background-position: -0px -3408px; }
.flags-16 .TM { background-position: -0px -3424px; }
.flags-16 .TN { background-position: -0px -3440px; }
.flags-16 .TO { background-position: -0px -3456px; }
.flags-16 .TR { background-position: -0px -3472px; }
.flags-16 .TT { background-position: -0px -3488px; }
.flags-16 .TV { background-position: -0px -3504px; }
.flags-16 .TW { background-position: -0px -3520px; }
.flags-16 .TZ { background-position: -0px -3536px; }
.flags-16 .UA { background-position: -0px -3552px; }
.flags-16 .UG { background-position: -0px -3568px; }
.flags-16 .US { background-position: -0px -3584px; }
.flags-16 .UY { background-position: -0px -3600px; }
.flags-16 .UZ { background-position: -0px -3616px; }
.flags-16 .VA { background-position: -0px -3632px; }
.flags-16 .VC { background-position: -0px -3648px; }
.flags-16 .VE { background-position: -0px -3664px; }
.flags-16 .VG { background-position: -0px -3680px; }
.flags-16 .VI { background-position: -0px -3696px; }
.flags-16 .VN { background-position: -0px -3712px; }
.flags-16 .VU { background-position: -0px -3728px; }
.flags-16 .WF { background-position: -0px -3744px; }
.flags-16 .WS { background-position: -0px -3760px; }
.flags-16 .YE { background-position: -0px -3776px; }
.flags-16 .YT { background-position: -0px -3792px; }
.flags-16 .ZA { background-position: -0px -3808px; }
.flags-16 .ZM { background-position: -0px -3824px; }
.flags-16 .ZW { background-position: -0px -3840px; }
.flags-16 ._Abkhazia { background-position: -0px -3856px; }
.flags-16 ._Basque-Country { background-position: -0px -3872px; }
.flags-16 ._BAT { background-position: -0px -3888px; }
.flags-16 ._Commonwealth { background-position: -0px -3904px; }
.flags-16 ._England { background-position: -0px -3920px; }
.flags-16 ._Kosovo { background-position: -0px -3936px; }
.flags-16 ._Mars { background-position: -0px -3952px; }
.flags-16 ._Nagorno-Karabakh { background-position: -0px -3968px; }
.flags-16 ._NATO { background-position: -0px -3984px; }
.flags-16 ._Northern-Cyprus { background-position: -0px -4000px; }
.flags-16 ._Olympics { background-position: -0px -4016px; }
.flags-16 ._Red-Cross { background-position: -0px -4032px; }
.flags-16 ._Scotland { background-position: -0px -4048px; }
.flags-16 ._Somaliland { background-position: -0px -4064px; }
.flags-16 ._South-Ossetia { background-position: -0px -4080px; }
.flags-16 ._United-Nations { background-position: -0px -4096px; }
.flags-16 ._unknown { background-position: -0px -4112px; }
.flags-16 ._Wales { background-position: -0px -4128px; }

.flags-24 .flag{
	margin-top: 0px;
	display: inline-block;
	height: 24px;
	width: 24px;
	vertical-align: text-top;
	line-height: 24px;
	background: url('../img/flags/24.png') no-repeat;
}
.flags-24 .AD { background-position: -0px -0px; }
.flags-24 .AE { background-position: -0px -24px; }
.flags-24 .AF { background-position: -0px -48px; }
.flags-24 .AG { background-position: -0px -72px; }
.flags-24 .AI { background-position: -0px -96px; }
.flags-24 .AL { background-position: -0px -120px; }
.flags-24 .AM { background-position: -0px -144px; }
.flags-24 .AN { background-position: -0px -168px; }
.flags-24 .AO { background-position: -0px -192px; }
.flags-24 .AQ { background-position: -0px -216px; }
.flags-24 .AR { background-position: -0px -240px; }
.flags-24 .AS { background-position: -0px -264px; }
.flags-24 .AT { background-position: -0px -288px; }
.flags-24 .AU { background-position: -0px -312px; }
.flags-24 .AW { background-position: -0px -336px; }
.flags-24 .AX { background-position: -0px -360px; }
.flags-24 .AZ { background-position: -0px -384px; }
.flags-24 .BA { background-position: -0px -408px; }
.flags-24 .BB { background-position: -0px -432px; }
.flags-24 .BD { background-position: -0px -456px; }
.flags-24 .BE { background-position: -0px -480px; }
.flags-24 .BF { background-position: -0px -504px; }
.flags-24 .BG { background-position: -0px -528px; }
.flags-24 .BH { background-position: -0px -552px; }
.flags-24 .BI { background-position: -0px -576px; }
.flags-24 .BJ { background-position: -0px -600px; }
.flags-24 .BL { background-position: -0px -624px; }
.flags-24 .BM { background-position: -0px -648px; }
.flags-24 .BN { background-position: -0px -672px; }
.flags-24 .BO { background-position: -0px -696px; }
.flags-24 .BR { background-position: -0px -720px; }
.flags-24 .BS { background-position: -0px -744px; }
.flags-24 .BT { background-position: -0px -768px; }
.flags-24 .BW { background-position: -0px -792px; }
.flags-24 .BY { background-position: -0px -816px; }
.flags-24 .BZ { background-position: -0px -840px; }
.flags-24 .CA { background-position: -0px -864px; }
.flags-24 .CC { background-position: -0px -888px; }
.flags-24 .CD { background-position: -0px -912px; }
.flags-24 .CF { background-position: -0px -936px; }
.flags-24 .CG { background-position: -0px -960px; }
.flags-24 .CH { background-position: -0px -984px; }
.flags-24 .CI { background-position: -0px -1008px; }
.flags-24 .CK { background-position: -0px -1032px; }
.flags-24 .CL { background-position: -0px -1056px; }
.flags-24 .CM { background-position: -0px -1080px; }
.flags-24 .CN { background-position: -0px -1104px; }
.flags-24 .CO { background-position: -0px -1128px; }
.flags-24 .CR { background-position: -0px -1152px; }
.flags-24 .CU { background-position: -0px -1176px; }
.flags-24 .CV { background-position: -0px -1200px; }
.flags-24 .CW { background-position: -0px -1224px; }
.flags-24 .CX { background-position: -0px -1248px; }
.flags-24 .CY { background-position: -0px -1272px; }
.flags-24 .CZ { background-position: -0px -1296px; }
.flags-24 .DE { background-position: -0px -1320px; }
.flags-24 .DJ { background-position: -0px -1344px; }
.flags-24 .DK { background-position: -0px -1368px; }
.flags-24 .DM { background-position: -0px -1392px; }
.flags-24 .DO { background-position: -0px -1416px; }
.flags-24 .DZ { background-position: -0px -1440px; }
.flags-24 .EC { background-position: -0px -1464px; }
.flags-24 .EE { background-position: -0px -1488px; }
.flags-24 .EG { background-position: -0px -1512px; }
.flags-24 .EH { background-position: -0px -1536px; }
.flags-24 .ER { background-position: -0px -1560px; }
.flags-24 .ES { background-position: -0px -1584px; }
.flags-24 .ET { background-position: -0px -1608px; }
.flags-24 .EU { background-position: -0px -1632px; }
.flags-24 .FI { background-position: -0px -1656px; }
.flags-24 .FJ { background-position: -0px -1680px; }
.flags-24 .FK { background-position: -0px -1704px; }
.flags-24 .FM { background-position: -0px -1728px; }
.flags-24 .FO { background-position: -0px -1752px; }
.flags-24 .FR { background-position: -0px -1776px; }
.flags-24 .GA { background-position: -0px -1800px; }
.flags-24 .GB { background-position: -0px -1824px; }
.flags-24 .GD { background-position: -0px -1848px; }
.flags-24 .GE { background-position: -0px -1872px; }
.flags-24 .GG { background-position: -0px -1896px; }
.flags-24 .GH { background-position: -0px -1920px; }
.flags-24 .GI { background-position: -0px -1944px; }
.flags-24 .GL { background-position: -0px -1968px; }
.flags-24 .GM { background-position: -0px -1992px; }
.flags-24 .GN { background-position: -0px -2016px; }
.flags-24 .GQ { background-position: -0px -2040px; }
.flags-24 .GR { background-position: -0px -2064px; }
.flags-24 .GS { background-position: -0px -2088px; }
.flags-24 .GT { background-position: -0px -2112px; }
.flags-24 .GU { background-position: -0px -2136px; }
.flags-24 .GW { background-position: -0px -2160px; }
.flags-24 .GY { background-position: -0px -2184px; }
.flags-24 .HK { background-position: -0px -2208px; }
.flags-24 .HN { background-position: -0px -2232px; }
.flags-24 .HR { background-position: -0px -2256px; }
.flags-24 .HT { background-position: -0px -2280px; }
.flags-24 .HU { background-position: -0px -2304px; }
.flags-24 .IC { background-position: -0px -2328px; }
.flags-24 .ID { background-position: -0px -2352px; }
.flags-24 .IE { background-position: -0px -2376px; }
.flags-24 .IL { background-position: -0px -2400px; }
.flags-24 .IM { background-position: -0px -2424px; }
.flags-24 .IN { background-position: -0px -2448px; }
.flags-24 .IQ { background-position: -0px -2472px; }
.flags-24 .IR { background-position: -0px -2496px; }
.flags-24 .IS { background-position: -0px -2520px; }
.flags-24 .IT { background-position: -0px -2544px; }
.flags-24 .JE { background-position: -0px -2568px; }
.flags-24 .JM { background-position: -0px -2592px; }
.flags-24 .JO { background-position: -0px -2616px; }
.flags-24 .JP { background-position: -0px -2640px; }
.flags-24 .KE { background-position: -0px -2664px; }
.flags-24 .KG { background-position: -0px -2688px; }
.flags-24 .KH { background-position: -0px -2712px; }
.flags-24 .KI { background-position: -0px -2736px; }
.flags-24 .KM { background-position: -0px -2760px; }
.flags-24 .KN { background-position: -0px -2784px; }
.flags-24 .KP { background-position: -0px -2808px; }
.flags-24 .KR { background-position: -0px -2832px; }
.flags-24 .KW { background-position: -0px -2856px; }
.flags-24 .KY { background-position: -0px -2880px; }
.flags-24 .KZ { background-position: -0px -2904px; }
.flags-24 .LA { background-position: -0px -2928px; }
.flags-24 .LB { background-position: -0px -2952px; }
.flags-24 .LC { background-position: -0px -2976px; }
.flags-24 .LI { background-position: -0px -3000px; }
.flags-24 .LK { background-position: -0px -3024px; }
.flags-24 .LR { background-position: -0px -3048px; }
.flags-24 .LS { background-position: -0px -3072px; }
.flags-24 .LT { background-position: -0px -3096px; }
.flags-24 .LU { background-position: -0px -3120px; }
.flags-24 .LV { background-position: -0px -3144px; }
.flags-24 .LY { background-position: -0px -3168px; }
.flags-24 .MA { background-position: -0px -3192px; }
.flags-24 .MC { background-position: -0px -3216px; }
.flags-24 .MD { background-position: -0px -3240px; }
.flags-24 .ME { background-position: -0px -3264px; }
.flags-24 .MF { background-position: -0px -3288px; }
.flags-24 .MG { background-position: -0px -3312px; }
.flags-24 .MH { background-position: -0px -3336px; }
.flags-24 .MK { background-position: -0px -3360px; }
.flags-24 .ML { background-position: -0px -3384px; }
.flags-24 .MM { background-position: -0px -3408px; }
.flags-24 .MN { background-position: -0px -3432px; }
.flags-24 .MO { background-position: -0px -3456px; }
.flags-24 .MP { background-position: -0px -3480px; }
.flags-24 .MQ { background-position: -0px -3504px; }
.flags-24 .MR { background-position: -0px -3528px; }
.flags-24 .MS { background-position: -0px -3552px; }
.flags-24 .MT { background-position: -0px -3576px; }
.flags-24 .MU { background-position: -0px -3600px; }
.flags-24 .MV { background-position: -0px -3624px; }
.flags-24 .MW { background-position: -0px -3648px; }
.flags-24 .MX { background-position: -0px -3672px; }
.flags-24 .MY { background-position: -0px -3696px; }
.flags-24 .MZ { background-position: -0px -3720px; }
.flags-24 .NA { background-position: -0px -3744px; }
.flags-24 .NC { background-position: -0px -3768px; }
.flags-24 .NE { background-position: -0px -3792px; }
.flags-24 .NF { background-position: -0px -3816px; }
.flags-24 .NG { background-position: -0px -3840px; }
.flags-24 .NI { background-position: -0px -3864px; }
.flags-24 .NL { background-position: -0px -3888px; }
.flags-24 .NO { background-position: -0px -3912px; }
.flags-24 .NP { background-position: -0px -3936px; }
.flags-24 .NR { background-position: -0px -3960px; }
.flags-24 .NU { background-position: -0px -3984px; }
.flags-24 .NZ { background-position: -0px -4008px; }
.flags-24 .OM { background-position: -0px -4032px; }
.flags-24 .PA { background-position: -0px -4056px; }
.flags-24 .PE { background-position: -0px -4080px; }
.flags-24 .PF { background-position: -0px -4104px; }
.flags-24 .PG { background-position: -0px -4128px; }
.flags-24 .PH { background-position: -0px -4152px; }
.flags-24 .PK { background-position: -0px -4176px; }
.flags-24 .PL { background-position: -0px -4200px; }
.flags-24 .PN { background-position: -0px -4224px; }
.flags-24 .PR { background-position: -0px -4248px; }
.flags-24 .PS { background-position: -0px -4272px; }
.flags-24 .PT { background-position: -0px -4296px; }
.flags-24 .PW { background-position: -0px -4320px; }
.flags-24 .PY { background-position: -0px -4344px; }
.flags-24 .QA { background-position: -0px -4368px; }
.flags-24 .RO { background-position: -0px -4392px; }
.flags-24 .RS { background-position: -0px -4416px; }
.flags-24 .RU { background-position: -0px -4440px; }
.flags-24 .RW { background-position: -0px -4464px; }
.flags-24 .SA { background-position: -0px -4488px; }
.flags-24 .SB { background-position: -0px -4512px; }
.flags-24 .SC { background-position: -0px -4536px; }
.flags-24 .SD { background-position: -0px -4560px; }
.flags-24 .SE { background-position: -0px -4584px; }
.flags-24 .SG { background-position: -0px -4608px; }
.flags-24 .SH { background-position: -0px -4632px; }
.flags-24 .SI { background-position: -0px -4656px; }
.flags-24 .SK { background-position: -0px -4680px; }
.flags-24 .SL { background-position: -0px -4704px; }
.flags-24 .SM { background-position: -0px -4728px; }
.flags-24 .SN { background-position: -0px -4752px; }
.flags-24 .SO { background-position: -0px -4776px; }
.flags-24 .SR { background-position: -0px -4800px; }
.flags-24 .SS { background-position: -0px -4824px; }
.flags-24 .ST { background-position: -0px -4848px; }
.flags-24 .SV { background-position: -0px -4872px; }
.flags-24 .SY { background-position: -0px -4896px; }
.flags-24 .SZ { background-position: -0px -4920px; }
.flags-24 .TC { background-position: -0px -4944px; }
.flags-24 .TD { background-position: -0px -4968px; }
.flags-24 .TF { background-position: -0px -4992px; }
.flags-24 .TG { background-position: -0px -5016px; }
.flags-24 .TH { background-position: -0px -5040px; }
.flags-24 .TJ { background-position: -0px -5064px; }
.flags-24 .TK { background-position: -0px -5088px; }
.flags-24 .TL { background-position: -0px -5112px; }
.flags-24 .TM { background-position: -0px -5136px; }
.flags-24 .TN { background-position: -0px -5160px; }
.flags-24 .TO { background-position: -0px -5184px; }
.flags-24 .TR { background-position: -0px -5208px; }
.flags-24 .TT { background-position: -0px -5232px; }
.flags-24 .TV { background-position: -0px -5256px; }
.flags-24 .TW { background-position: -0px -5280px; }
.flags-24 .TZ { background-position: -0px -5304px; }
.flags-24 .UA { background-position: -0px -5328px; }
.flags-24 .UG { background-position: -0px -5352px; }
.flags-24 .US { background-position: -0px -5376px; }
.flags-24 .UY { background-position: -0px -5400px; }
.flags-24 .UZ { background-position: -0px -5424px; }
.flags-24 .VA { background-position: -0px -5448px; }
.flags-24 .VC { background-position: -0px -5472px; }
.flags-24 .VE { background-position: -0px -5496px; }
.flags-24 .VG { background-position: -0px -5520px; }
.flags-24 .VI { background-position: -0px -5544px; }
.flags-24 .VN { background-position: -0px -5568px; }
.flags-24 .VU { background-position: -0px -5592px; }
.flags-24 .WF { background-position: -0px -5616px; }
.flags-24 .WS { background-position: -0px -5640px; }
.flags-24 .YE { background-position: -0px -5664px; }
.flags-24 .YT { background-position: -0px -5688px; }
.flags-24 .ZA { background-position: -0px -5712px; }
.flags-24 .ZM { background-position: -0px -5736px; }
.flags-24 .ZW { background-position: -0px -5760px; }
.flags-24 ._Abkhazia { background-position: -0px -5784px; }
.flags-24 ._Basque-Country { background-position: -0px -5808px; }
.flags-24 ._BAT { background-position: -0px -5832px; }
.flags-24 ._Commonwealth { background-position: -0px -5856px; }
.flags-24 ._England { background-position: -0px -5880px; }
.flags-24 ._Kosovo { background-position: -0px -5904px; }
.flags-24 ._Mars { background-position: -0px -5928px; }
.flags-24 ._Nagorno-Karabakh { background-position: -0px -5952px; }
.flags-24 ._NATO { background-position: -0px -5976px; }
.flags-24 ._Northern-Cyprus { background-position: -0px -6000px; }
.flags-24 ._Olympics { background-position: -0px -6024px; }
.flags-24 ._Red-Cross { background-position: -0px -6048px; }
.flags-24 ._Scotland { background-position: -0px -6072px; }
.flags-24 ._Somaliland { background-position: -0px -6096px; }
.flags-24 ._South-Ossetia { background-position: -0px -6120px; }
.flags-24 ._United-Nations { background-position: -0px -6144px; }
.flags-24 ._unknown { background-position: -0px -6168px; }
.flags-24 ._Wales { background-position: -0px -6192px; }

.flags-32 .flag{
	margin-top: 0px;
	display: inline-block;
	height: 32px;
	width: 32px;
	vertical-align: text-top;
	line-height: 32px;
	background: url('../img/flags/32.png') no-repeat;
}
.flags-32 .AD { background-position: -0px -0px; }
.flags-32 .AE { background-position: -0px -32px; }
.flags-32 .AF { background-position: -0px -64px; }
.flags-32 .AG { background-position: -0px -96px; }
.flags-32 .AI { background-position: -0px -128px; }
.flags-32 .AL { background-position: -0px -160px; }
.flags-32 .AM { background-position: -0px -192px; }
.flags-32 .AN { background-position: -0px -224px; }
.flags-32 .AO { background-position: -0px -256px; }
.flags-32 .AQ { background-position: -0px -288px; }
.flags-32 .AR { background-position: -0px -320px; }
.flags-32 .AS { background-position: -0px -352px; }
.flags-32 .AT { background-position: -0px -384px; }
.flags-32 .AU { background-position: -0px -416px; }
.flags-32 .AW { background-position: -0px -448px; }
.flags-32 .AX { background-position: -0px -480px; }
.flags-32 .AZ { background-position: -0px -512px; }
.flags-32 .BA { background-position: -0px -544px; }
.flags-32 .BB { background-position: -0px -576px; }
.flags-32 .BD { background-position: -0px -608px; }
.flags-32 .BE { background-position: -0px -640px; }
.flags-32 .BF { background-position: -0px -672px; }
.flags-32 .BG { background-position: -0px -704px; }
.flags-32 .BH { background-position: -0px -736px; }
.flags-32 .BI { background-position: -0px -768px; }
.flags-32 .BJ { background-position: -0px -800px; }
.flags-32 .BL { background-position: -0px -832px; }
.flags-32 .BM { background-position: -0px -864px; }
.flags-32 .BN { background-position: -0px -896px; }
.flags-32 .BO { background-position: -0px -928px; }
.flags-32 .BR { background-position: -0px -960px; }
.flags-32 .BS { background-position: -0px -992px; }
.flags-32 .BT { background-position: -0px -1024px; }
.flags-32 .BW { background-position: -0px -1056px; }
.flags-32 .BY { background-position: -0px -1088px; }
.flags-32 .BZ { background-position: -0px -1120px; }
.flags-32 .CA { background-position: -0px -1152px; }
.flags-32 .CC { background-position: -0px -1184px; }
.flags-32 .CD { background-position: -0px -1216px; }
.flags-32 .CF { background-position: -0px -1248px; }
.flags-32 .CG { background-position: -0px -1280px; }
.flags-32 .CH { background-position: -0px -1312px; }
.flags-32 .CI { background-position: -0px -1344px; }
.flags-32 .CK { background-position: -0px -1376px; }
.flags-32 .CL { background-position: -0px -1408px; }
.flags-32 .CM { background-position: -0px -1440px; }
.flags-32 .CN { background-position: -0px -1472px; }
.flags-32 .CO { background-position: -0px -1504px; }
.flags-32 .CR { background-position: -0px -1536px; }
.flags-32 .CU { background-position: -0px -1568px; }
.flags-32 .CV { background-position: -0px -1600px; }
.flags-32 .CW { background-position: -0px -1632px; }
.flags-32 .CX { background-position: -0px -1664px; }
.flags-32 .CY { background-position: -0px -1696px; }
.flags-32 .CZ { background-position: -0px -1728px; }
.flags-32 .DE { background-position: -0px -1760px; }
.flags-32 .DJ { background-position: -0px -1792px; }
.flags-32 .DK { background-position: -0px -1824px; }
.flags-32 .DM { background-position: -0px -1856px; }
.flags-32 .DO { background-position: -0px -1888px; }
.flags-32 .DZ { background-position: -0px -1920px; }
.flags-32 .EC { background-position: -0px -1952px; }
.flags-32 .EE { background-position: -0px -1984px; }
.flags-32 .EG { background-position: -0px -2016px; }
.flags-32 .EH { background-position: -0px -2048px; }
.flags-32 .ER { background-position: -0px -2080px; }
.flags-32 .ES { background-position: -0px -2112px; }
.flags-32 .ET { background-position: -0px -2144px; }
.flags-32 .EU { background-position: -0px -2176px; }
.flags-32 .FI { background-position: -0px -2208px; }
.flags-32 .FJ { background-position: -0px -2240px; }
.flags-32 .FK { background-position: -0px -2272px; }
.flags-32 .FM { background-position: -0px -2304px; }
.flags-32 .FO { background-position: -0px -2336px; }
.flags-32 .FR { background-position: -0px -2368px; }
.flags-32 .GA { background-position: -0px -2400px; }
.flags-32 .GB { background-position: -0px -2432px; }
.flags-32 .GD { background-position: -0px -2464px; }
.flags-32 .GE { background-position: -0px -2496px; }
.flags-32 .GG { background-position: -0px -2528px; }
.flags-32 .GH { background-position: -0px -2560px; }
.flags-32 .GI { background-position: -0px -2592px; }
.flags-32 .GL { background-position: -0px -2624px; }
.flags-32 .GM { background-position: -0px -2656px; }
.flags-32 .GN { background-position: -0px -2688px; }
.flags-32 .GQ { background-position: -0px -2720px; }
.flags-32 .GR { background-position: -0px -2752px; }
.flags-32 .GS { background-position: -0px -2784px; }
.flags-32 .GT { background-position: -0px -2816px; }
.flags-32 .GU { background-position: -0px -2848px; }
.flags-32 .GW { background-position: -0px -2880px; }
.flags-32 .GY { background-position: -0px -2912px; }
.flags-32 .HK { background-position: -0px -2944px; }
.flags-32 .HN { background-position: -0px -2976px; }
.flags-32 .HR { background-position: -0px -3008px; }
.flags-32 .HT { background-position: -0px -3040px; }
.flags-32 .HU { background-position: -0px -3072px; }
.flags-32 .IC { background-position: -0px -3104px; }
.flags-32 .ID { background-position: -0px -3136px; }
.flags-32 .IE { background-position: -0px -3168px; }
.flags-32 .IL { background-position: -0px -3200px; }
.flags-32 .IM { background-position: -0px -3232px; }
.flags-32 .IN { background-position: -0px -3264px; }
.flags-32 .IQ { background-position: -0px -3296px; }
.flags-32 .IR { background-position: -0px -3328px; }
.flags-32 .IS { background-position: -0px -3360px; }
.flags-32 .IT { background-position: -0px -3392px; }
.flags-32 .JE { background-position: -0px -3424px; }
.flags-32 .JM { background-position: -0px -3456px; }
.flags-32 .JO { background-position: -0px -3488px; }
.flags-32 .JP { background-position: -0px -3520px; }
.flags-32 .KE { background-position: -0px -3552px; }
.flags-32 .KG { background-position: -0px -3584px; }
.flags-32 .KH { background-position: -0px -3616px; }
.flags-32 .KI { background-position: -0px -3648px; }
.flags-32 .KM { background-position: -0px -3680px; }
.flags-32 .KN { background-position: -0px -3712px; }
.flags-32 .KP { background-position: -0px -3744px; }
.flags-32 .KR { background-position: -0px -3776px; }
.flags-32 .KW { background-position: -0px -3808px; }
.flags-32 .KY { background-position: -0px -3840px; }
.flags-32 .KZ { background-position: -0px -3872px; }
.flags-32 .LA { background-position: -0px -3904px; }
.flags-32 .LB { background-position: -0px -3936px; }
.flags-32 .LC { background-position: -0px -3968px; }
.flags-32 .LI { background-position: -0px -4000px; }
.flags-32 .LK { background-position: -0px -4032px; }
.flags-32 .LR { background-position: -0px -4064px; }
.flags-32 .LS { background-position: -0px -4096px; }
.flags-32 .LT { background-position: -0px -4128px; }
.flags-32 .LU { background-position: -0px -4160px; }
.flags-32 .LV { background-position: -0px -4192px; }
.flags-32 .LY { background-position: -0px -4224px; }
.flags-32 .MA { background-position: -0px -4256px; }
.flags-32 .MC { background-position: -0px -4288px; }
.flags-32 .MD { background-position: -0px -4320px; }
.flags-32 .ME { background-position: -0px -4352px; }
.flags-32 .MF { background-position: -0px -4384px; }
.flags-32 .MG { background-position: -0px -4416px; }
.flags-32 .MH { background-position: -0px -4448px; }
.flags-32 .MK { background-position: -0px -4480px; }
.flags-32 .ML { background-position: -0px -4512px; }
.flags-32 .MM { background-position: -0px -4544px; }
.flags-32 .MN { background-position: -0px -4576px; }
.flags-32 .MO { background-position: -0px -4608px; }
.flags-32 .MP { background-position: -0px -4640px; }
.flags-32 .MQ { background-position: -0px -4672px; }
.flags-32 .MR { background-position: -0px -4704px; }
.flags-32 .MS { background-position: -0px -4736px; }
.flags-32 .MT { background-position: -0px -4768px; }
.flags-32 .MU { background-position: -0px -4800px; }
.flags-32 .MV { background-position: -0px -4832px; }
.flags-32 .MW { background-position: -0px -4864px; }
.flags-32 .MX { background-position: -0px -4896px; }
.flags-32 .MY { background-position: -0px -4928px; }
.flags-32 .MZ { background-position: -0px -4960px; }
.flags-32 .NA { background-position: -0px -4992px; }
.flags-32 .NC { background-position: -0px -5024px; }
.flags-32 .NE { background-position: -0px -5056px; }
.flags-32 .NF { background-position: -0px -5088px; }
.flags-32 .NG { background-position: -0px -5120px; }
.flags-32 .NI { background-position: -0px -5152px; }
.flags-32 .NL { background-position: -0px -5184px; }
.flags-32 .NO { background-position: -0px -5216px; }
.flags-32 .NP { background-position: -0px -5248px; }
.flags-32 .NR { background-position: -0px -5280px; }
.flags-32 .NU { background-position: -0px -5312px; }
.flags-32 .NZ { background-position: -0px -5344px; }
.flags-32 .OM { background-position: -0px -5376px; }
.flags-32 .PA { background-position: -0px -5408px; }
.flags-32 .PE { background-position: -0px -5440px; }
.flags-32 .PF { background-position: -0px -5472px; }
.flags-32 .PG { background-position: -0px -5504px; }
.flags-32 .PH { background-position: -0px -5536px; }
.flags-32 .PK { background-position: -0px -5568px; }
.flags-32 .PL { background-position: -0px -5600px; }
.flags-32 .PN { background-position: -0px -5632px; }
.flags-32 .PR { background-position: -0px -5664px; }
.flags-32 .PS { background-position: -0px -5696px; }
.flags-32 .PT { background-position: -0px -5728px; }
.flags-32 .PW { background-position: -0px -5760px; }
.flags-32 .PY { background-position: -0px -5792px; }
.flags-32 .QA { background-position: -0px -5824px; }
.flags-32 .RO { background-position: -0px -5856px; }
.flags-32 .RS { background-position: -0px -5888px; }
.flags-32 .RU { background-position: -0px -5920px; }
.flags-32 .RW { background-position: -0px -5952px; }
.flags-32 .SA { background-position: -0px -5984px; }
.flags-32 .SB { background-position: -0px -6016px; }
.flags-32 .SC { background-position: -0px -6048px; }
.flags-32 .SD { background-position: -0px -6080px; }
.flags-32 .SE { background-position: -0px -6112px; }
.flags-32 .SG { background-position: -0px -6144px; }
.flags-32 .SH { background-position: -0px -6176px; }
.flags-32 .SI { background-position: -0px -6208px; }
.flags-32 .SK { background-position: -0px -6240px; }
.flags-32 .SL { background-position: -0px -6272px; }
.flags-32 .SM { background-position: -0px -6304px; }
.flags-32 .SN { background-position: -0px -6336px; }
.flags-32 .SO { background-position: -0px -6368px; }
.flags-32 .SR { background-position: -0px -6400px; }
.flags-32 .SS { background-position: -0px -6432px; }
.flags-32 .ST { background-position: -0px -6464px; }
.flags-32 .SV { background-position: -0px -6496px; }
.flags-32 .SY { background-position: -0px -6528px; }
.flags-32 .SZ { background-position: -0px -6560px; }
.flags-32 .TC { background-position: -0px -6592px; }
.flags-32 .TD { background-position: -0px -6624px; }
.flags-32 .TF { background-position: -0px -6656px; }
.flags-32 .TG { background-position: -0px -6688px; }
.flags-32 .TH { background-position: -0px -6720px; }
.flags-32 .TJ { background-position: -0px -6752px; }
.flags-32 .TK { background-position: -0px -6784px; }
.flags-32 .TL { background-position: -0px -6816px; }
.flags-32 .TM { background-position: -0px -6848px; }
.flags-32 .TN { background-position: -0px -6880px; }
.flags-32 .TO { background-position: -0px -6912px; }
.flags-32 .TR { background-position: -0px -6944px; }
.flags-32 .TT { background-position: -0px -6976px; }
.flags-32 .TV { background-position: -0px -7008px; }
.flags-32 .TW { background-position: -0px -7040px; }
.flags-32 .TZ { background-position: -0px -7072px; }
.flags-32 .UA { background-position: -0px -7104px; }
.flags-32 .UG { background-position: -0px -7136px; }
.flags-32 .US { background-position: -0px -7168px; }
.flags-32 .UY { background-position: -0px -7200px; }
.flags-32 .UZ { background-position: -0px -7232px; }
.flags-32 .VA { background-position: -0px -7264px; }
.flags-32 .VC { background-position: -0px -7296px; }
.flags-32 .VE { background-position: -0px -7328px; }
.flags-32 .VG { background-position: -0px -7360px; }
.flags-32 .VI { background-position: -0px -7392px; }
.flags-32 .VN { background-position: -0px -7424px; }
.flags-32 .VU { background-position: -0px -7456px; }
.flags-32 .WF { background-position: -0px -7488px; }
.flags-32 .WS { background-position: -0px -7520px; }
.flags-32 .YE { background-position: -0px -7552px; }
.flags-32 .YT { background-position: -0px -7584px; }
.flags-32 .ZA { background-position: -0px -7616px; }
.flags-32 .ZM { background-position: -0px -7648px; }
.flags-32 .ZW { background-position: -0px -7680px; }
.flags-32 ._Abkhazia { background-position: -0px -7712px; }
.flags-32 ._Basque-Country { background-position: -0px -7744px; }
.flags-32 ._BAT { background-position: -0px -7776px; }
.flags-32 ._Commonwealth { background-position: -0px -7808px; }
.flags-32 ._England { background-position: -0px -7840px; }
.flags-32 ._Kosovo { background-position: -0px -7872px; }
.flags-32 ._Mars { background-position: -0px -7904px; }
.flags-32 ._Nagorno-Karabakh { background-position: -0px -7936px; }
.flags-32 ._NATO { background-position: -0px -7968px; }
.flags-32 ._Northern-Cyprus { background-position: -0px -8000px; }
.flags-32 ._Olympics { background-position: -0px -8032px; }
.flags-32 ._Red-Cross { background-position: -0px -8064px; }
.flags-32 ._Scotland { background-position: -0px -8096px; }
.flags-32 ._Somaliland { background-position: -0px -8128px; }
.flags-32 ._South-Ossetia { background-position: -0px -8160px; }
.flags-32 ._United-Nations { background-position: -0px -8192px; }
.flags-32 ._unknown { background-position: -0px -8224px; }
.flags-32 ._Wales { background-position: -0px -8256px; }
